.submit-button-div {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.player-status-form .form-control {
  width: 100px;
  font-size: 0.85rem;
}

.ng-select {
  min-width: 150px;
  font-size: 0.85rem;
}