<app-loading-indicator *ngIf="loading"></app-loading-indicator>

<nav ngbNav #nav="ngbNav" class="nav-tabs j-league-pack-database-main">
  <ng-container ngbNavItem>
    <a ngbNavLink>最近の人気選手</a>
    <ng-template ngbNavContent>
      <app-database-most-accessed></app-database-most-accessed>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem>
    <a ngbNavLink>最新更新された選手・スタッフ</a>
    <ng-template ngbNavContent>
      <app-database-recent-updates></app-database-recent-updates>
    </ng-template>
  </ng-container>

  <ng-container ngbNavItem>
    <a ngbNavLink>クラブから選択</a>
    <ng-template ngbNavContent>
      <app-database-all-clubs></app-database-all-clubs>
    </ng-template>
  </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>