<div class="list-group" *ngIf="league">
  <button *ngFor="let clubId of clubs" class="list-group-item list-group-item-action club-button btn-parallelogram my-1  d-flex justify-content-between align-items-center"
    [ngClass]="'club-button-of-league-' + leagueId"
    (click)="onClickClub(clubId)"
    [ngStyle]="getClubStyle(clubId) ? getClubStyle(clubId) : null">
    <span class="skew-fix club-name">{{ getClubName(clubId) }}</span>
    <span class="skew-fix">
      <app-club-status [clubStatus]="getClubStatus(clubId)" [league]="league"></app-club-status>
    </span>
  </button>
</div>