.fm-j-league-pack-guide .nav-tabs .nav-link.active {
  border-top: 3px solid #28a745;
}

img.full-image {
  width: 100%
}

.fm-j-league-pack-no-guide {
  padding-top: 83px;
}

.fm-j-league-pack-no-guide h1 {
  color: rgba(0,0,0,.4);
  font-size: 150px;
}

.fm-j-league-pack-no-guide .error-text {
  color: rgba(0,0,0,.4);
  line-height: 21px;
  margin-top: 60px;
  white-space: pre-wrap;
}