<ul class="list-group list-group-flush" *ngIf="player">
  <li class="list-group-item" *ngFor="let ul of player.updateLog">
    <h4>{{ ul.updateDate }}</h4>
    <div class="row">
      <div class="col-12 col-md-4 p-1" *ngFor="let r of ul.records">
        <div
          *ngIf="
            formatUpdateRecord(r) && formatUpdateRecord(r).type === 'normal'
          "
        >
          <b class="text-secondary">{{ formatUpdateRecord(r).title }}</b
          >&nbsp;&nbsp; {{ formatUpdateRecord(r).oldValue }} →
          {{ formatUpdateRecord(r).newValue }}
        </div>
        <div
          *ngIf="
            formatUpdateRecord(r) && formatUpdateRecord(r).type === 'number'
          "
        >
          <ng-container
            *ngIf="
              formatUpdateRecord(r).oldValue < formatUpdateRecord(r).newValue;
              else elseTemplate
            "
          >
            <span class="text-success">
              {{ formatUpdateRecord(r).oldValue }} ↑
              {{ formatUpdateRecord(r).newValue }}
            </span>
          </ng-container>
          <ng-template #elseTemplate>
            <span class="text-danger" #elseTemplate>
              {{ formatUpdateRecord(r).oldValue }} ↓
              {{ formatUpdateRecord(r).newValue }}
            </span>
          </ng-template>

          &nbsp;&nbsp;<span class="text-secondary">{{
            formatUpdateRecord(r).title
          }}</span>
        </div>
      </div>
    </div>
  </li>
</ul>
