<app-loading-indicator *ngIf="isUpdating"></app-loading-indicator>
<div class="container p-2">
  <div class="card">
    <div class="card-header">データをインポートする</div>
    <div class="card-body">
      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="customFile"
          #fl
          accept=".csv"
          (change)="onUploadFiles(fl.files)"
        />
        <label class="custom-file-label" for="customFile"
          >CSVファイルを選択する</label
        >
      </div>
      <div>
        <ng-select
          id="locationFile"
          [items]="datepackFileTypeList"
          bindLabel="val"
          bindValue="key"
          [(ngModel)]="datepackFileType"
        ></ng-select>
      </div>

      <div *ngIf="loadData">
        <div class="alert show alert-secondary m-1">   
          <div class="row">       
            <div class="col-2">
              <div class="input-group">
                <ng-select
                  class="filter-club-droplist"
                  [items]="clubList"
                  bindLabel="clubName"
                  bindValue="id"
                  aria-placeholder="クラブ"
                  [(ngModel)]="filterClub"
                  (change)="updateFilter($event)"
                ></ng-select>
              </div>
            </div>
            <div class="col-3">
              <input type="number" [(ngModel)]="updateId" class="form-control" placeholder="更新ID" />
            </div>
            <div class="col-3">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="filterValue"
                (keyup)="updateFilter($event)"
                placeholder="名前"
              />
            </div>
            <div class="col-2">
              <div class="form-group form-check p-2">
                <input type="checkbox" class="form-check-limit-to-recent" id="limitToRecentCheck" [(ngModel)]="filterLimitToRecent" (change)="updateFilter($event)">
                <label class="form-check-limit-to-recent-label" for="limitToRecentCheck">最近の記録のみ</label>
              </div>
            </div>
          </div>
          <div class="row">       
            <div class="custom-file m-2">
              <input type="file" class="custom-file-input" id="nameFilterFile"
              #namefl
              (change)="onUploadNameFilters(namefl.files)">
              <label class="custom-file-label" for="nameFilterFile">名前のリストをアップロード</label>
            </div>
          </div>
        </div>
        
        <ngx-datatable
          class="bootstrap fullscreen player-table"
          [rows]="displayData"
          [columnMode]="'flex'"
          [rowHeight]="'auto'"
          [footerHeight]="50"
          [rowClass]="getRowClass"
          [limit]="20"
          [sorts]="[
            {
              prop: 'common_name',
              dir: 'asc'
            }
          ]"
        >
          <ngx-datatable-column
            name="Common Name"
            prop="common_name"
            [flexGrow]="2"
          ></ngx-datatable-column>
          <ngx-datatable-column name="Name" prop="name" [flexGrow]="2">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{ row.first_name }} {{ row.last_name }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="生年月日"
            prop="dob"
            [flexGrow]="1"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="契約更新日"
            prop="clubDateRenewed"
            [flexGrow]="1"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Action"
            prop="action"
            [flexGrow]="1"
            [sortable]="false"
          >
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button class="btn btn-primary btn-sm mr-1" (click)="onDoAnalysis(row)">
                確認
              </button>
              <button class="btn btn-primary btn-sm mr-1" (click)="onDoAnalysis(row, true, true)">
                追加
              </button>
              <button class="btn btn-primary btn-sm" (click)="onDoAnalysis(row, true)">
                更新
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
