<div class="container-fluid">
  <div class="alert alert-secondary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-auto">
          <ng-select
            [items]="clubList"
            [(ngModel)]="filterClubname"
            bindLabel="clubName"
            bindValue="clubName"
            (change)="onChangeFilters()"
            [placeholder]="'UPDATE_HISTORY.CLUB_FILTER' | translate"></ng-select>
        </div>
        <div class="col">
          <input
            type="text"
            [(ngModel)]="filterPlayerName"
            (input)="onChangeFilters()"
            class="form-control"
            [placeholder]="'UPDATE_HISTORY.NAME' | translate"
          />
        </div>
        <div class="col-auto">
          <ng-select
            [items]="playerUpdateTypeList"
            bindLabel="val"
            bindValue="key"
            [(ngModel)]="filterPlayerUpdateType"
            [multiple]="true"
            (change)="onChangeFilters()"
            [placeholder]="'UPDATE_HISTORY.TYPE' | translate"
          >
          </ng-select>
        </div>
        <div class="col-auto">
          <input
            type="text"
            ngxDaterangepickerMd
            [(ngModel)]="dateSelected"
            [locale]="datepickerLocale"
            [autoApply]="true"
            [dateLimit]="defaultDisplayDay"
            (datesUpdated)="onChangeDate()"
            class="form-control"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="fm-j-league-player-updates"
    *ngIf="!loadingData; else elseTemplate">
    <app-record-table *ngIf="displayRecords && displayRecords.length > 0" [data]="displayRecords"></app-record-table>
  </div>
  <ng-template #elseTemplate>
    <div class="d-flex justify-content-center">
      <div class="spinner-border m-5" role="status">
        <span class="sr-only">{{ 'LOADING' | translate }}</span>
      </div>
    </div>
  </ng-template>
</div>

