<div class="container-fluid" *ngIf="!loadingData; else elseTemplate">
  <div class="alert alert-secondary">
    <div class="container-fluid">
      <div class="row">
        <div class="col"></div>
        <div class="col-auto">
          <ng-select
            [items]="playerUpdateTypeList"
            bindLabel="val"
            bindValue="key"
            [(ngModel)]="filterPlayerUpdateType"
            [multiple]="true"
            (change)="onChangeFilterPlayerUpdateType()"
            placeholder="更新種類フィルター"
          >
          </ng-select>
        </div>
        <div class="col-auto">
          <input
            type="text"
            ngxDaterangepickerMd
            [(ngModel)]="dateSelected"
            [locale]="datepickerLocale"
            [autoApply]="true"
            (datesUpdated)="onChangeDate()"
            class="form-control"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="fm-j-league-player-updates"
    *ngIf="displayRecords && displayRecords.length > 0"
  >
    <app-record-table [data]="displayRecords"></app-record-table>
  </div>
</div>
<ng-template #elseTemplate>
  <div class="d-flex justify-content-center">
    <div class="spinner-border m-5" role="status">
      <span class="sr-only">データ読み込み中</span>
    </div>
  </div>
</ng-template>
