.club-title .heading {
  overflow: hidden;
  align-items: center;
  height: 40px;
  line-height: 40px;
  display: flex;
}
.club-title .heading:before,
.club-title .heading:after {
  content: "";
  flex: 1;
  background: #fff;
  padding: 3px 0;
  height: 0;
  transform: rotate(45deg);
}

.ngx-datatable.bootstrap {
  font-size: 15px;
}

::ng-deep .loan-out {
  background-color: lightblue;
  opacity: 0.3;
}

::ng-deep .loan-in {
  background-color: lightblue !important;
}

.player-table-div {
  overflow: auto;
}

.player-table {
  min-width: 800px;
}

.club-name-col {
  border-radius: 10px;
  padding: 5px 20px;;
}