<ng-container *ngIf="loading; else elseLoadedTemplate">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">読込中…</span>
    </div>
  </div>
</ng-container>
<ng-template #elseLoadedTemplate>
  <div class="club-title" [ngStyle]="getClubStyle() ? getClubStyle() : null">
    <h3 class="heading">{{ club ? club.clubName : "" }}</h3>
  </div>
  <nav
    ngbNav
    #nav="ngbNav"
    [(activeId)]="activeTabId"
    class="nav-tabs database-club-nav-tabs"
    (navChange)="onNavChange($event)"
  >
    <ng-container ngbNavItem [ngbNavItem]="1">
      <a ngbNavLink>スタッフ</a>
      <ng-template ngbNavContent>
        <app-list-staff [staff]="staff"></app-list-staff>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem [ngbNavItem]="2">
      <a ngbNavLink>選手</a>
      <ng-template ngbNavContent>
        <app-list-players [players]="players" [league]="league" [innerWidth]="innerWidth"></app-list-players>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem [ngbNavItem]="3">
      <a ngbNavLink>他チームに期限付き移籍中の選手</a>
      <ng-template ngbNavContent>
        <app-list-players [players]="players" [league]="league" [innerWidth]="innerWidth" [loanout]="true"></app-list-players>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</ng-template>
