<ng-container *ngIf="loading; else elseLoadedTemplate">
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">読込中…</span>
    </div>
  </div>
</ng-container>
<ng-template #elseLoadedTemplate>
  <nav ngbNav #nav="ngbNav" class="nav-tabs database-club-nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>スタッフ</a>
      <ng-template ngbNavContent>
        <div class="card-body" *ngIf="staff && staff.length > 0">
          <div class="container-fluid">
            <div class="row" *ngFor="let staffMember of staff">
              <div class="col-12 col-sm-3">{{ getJobType(staffMember.job) }}</div>
              <div class="col-12 col-sm-9">
                <a
                [routerLink]="['/database/player/']"
                [queryParams]="{name: staffMember.name, id: staffMember.id, dob: staffMember.dob}">{{ staffMember.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>選手</a>
      <ng-template ngbNavContent>
        <div class="card-body player-table-div" *ngIf="players && players.length > 0">
            <ngx-datatable
            class="bootstrap fullscreen player-table"
            [rows]="players"
            [columnMode]="'flex'"
            [rowHeight]="'auto'"
            [rowClass]="getRowClass"
            [sorts]="[{
              prop: 'squadNo',
              dir: 'asc'
            }]"
          >
            <ngx-datatable-column
              name="背番号"
              prop="squadNo"
              [flexGrow]="1"
              [comparator]="sortSquadNo"
            ></ngx-datatable-column>
            <ngx-datatable-column name="名前" prop="name" [flexGrow]="4">
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <a
                  [routerLink]="['/database/player/']"
                  [queryParams]="{name: row.name, id: row.id, dob: row.dob}"
                  >{{ value }}</a
                >&nbsp;
                <span class="badge badge-info badge-pill" *ngIf="row.loanIn">期間付移籍中</span>
                <span class="badge badge-info badge-pill" *ngIf="row.loanOut">期間付移籍中</span>
                <span class="badge badge-warning badge-pill" *ngIf="row.updateThisWeek">更新</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="ポジション"
              prop="position"
              [flexGrow]="2"
            ></ngx-datatable-column>
            <ngx-datatable-column name="国" prop="nationality" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span [class]="getFlag(value)"></span>&nbsp;{{ value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="生年月日"
              prop="dob"
              [flexGrow]="1"
            ></ngx-datatable-column>
            <ngx-datatable-column name="現在能力" prop="ca" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <h5>
                  <span class="badge player-ability-badge" [ngClass]="getCAClass(value)">{{ value }}</span>
                </h5>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="潜在能力" prop="pa" [flexGrow]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <h5>
                  <span class="badge player-ability-badge avereage-ca">{{ value }}</span>
                </h5>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="更新時間"
              prop="updateDate"
              [flexGrow]="1"
              *ngIf="innerWidth > 768"
            ></ngx-datatable-column>
          </ngx-datatable>
        </div>
      </ng-template>
    </ng-container>
  </nav>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</ng-template>