<header class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg sticky-top">
  <a class="navbar-brand" routerLink="/">{{ 'HEADER.TITLE' | translate }}</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="fmjleagueNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="isCollapsed" id="fmjleagueNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="currentVersionData">
        <a class="nav-link" (click)="onResetCollapse()" routerLink="/">{{ 'HEADER.HOME' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="currentVersionData">
        <a class="nav-link" (click)="onResetCollapse()" routerLink="/guide">{{ 'HEADER.GUIDE' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="currentVersionData">
        <a class="nav-link" (click)="onResetCollapse()" routerLink="/history">{{ 'HEADER.RELEASE_NOTE' | translate }}</a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarPlayerDropdown" role="button">
          {{ 'HEADER.DATABASE' | translate }}
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarPlayerDropdown" class="dropdown-menu">
          <button ngbDropdownItem routerLinkActive="active" routerLink="/playerUpdate" (click)="onResetCollapse()">
            {{ 'HEADER.UPDATE_HISTORY' | translate }}
          </button>
          <hr />
          <button ngbDropdownItem routerLinkActive="active" routerLink="/database" (click)="onResetCollapse()">
            {{ 'HEADER.PLAYER_DATABASE' | translate }}
          </button>
          <button ngbDropdownItem routerLinkActive="active" routerLink="/calcCa" (click)="onResetCollapse()">
            {{ 'HEADER.CA_CALC' | translate }}
          </button>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarToolDropdown" role="button">
          {{ 'HEADER.TOOLS' | translate }}
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarPlayerDropdown" class="dropdown-menu">
          <button ngbDropdownItem (click)="onJpNameRemoverTool()">
            {{ 'HEADER.REMOVE_JAPANESE_WORDS' | translate }}
          </button>
          <hr />
          <button ngbDropdownItem (click)="onFacepackTool()">
            {{ 'HEADER.FACEBOOK_TOOLS' | translate }}
          </button>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="isAdmin" class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onResetCollapse()" routerLink="/admin">{{ 'HEADER.ADMIN' | translate }}</a>
      </li>
      <li *ngIf="user !== null" class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" (click)="onLogout()">{{ 'HEADER.LOGOUT' | translate }}</a>
        </li>
      <li class="nav-item" *ngIf="currentVersionData && currentVersionData.fmBlogUrl">
        <a class="nav-link" (click)="onResetCollapse()" href="#" (click)="onGotoBlog()">{{ 'HEADER.BLOG_VERSION' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/discuss" (click)="onResetCollapse()">{{ 'HEADER.DISCUSS_BOARD' | translate }}</a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="fmVersionDropdown" role="button">
          {{ fmVersion }}
        </a>
        <div ngbDropdownMenu aria-labelledby="fmVersionDropdown" class="dropdown-menu dropdown-menu-right">
          <button ngbDropdownItem
            [class]="fmVersionListValue === fmVersion ? 'dropdown-item active' : 'dropdown-item'"
            *ngFor="let fmVersionListValue of fmVersionList"
            (click)="onSetFMVersion(fmVersionListValue)">
            {{ fmVersionListValue }}
          </button>
        </div>
      </li>
      <li class="nav-item">
        <div class="btn-group btn-group-toggle">
          <button
            class="btn"
            [class]="lang === 'ja' ? 'btn-secondary' : 'btn-outline-secondary'"
            (click)="onSetLang('ja')">
            JP
          </button>
          <button
            class="btn"
            [class]="lang === 'en' ? 'btn-secondary' : 'btn-outline-secondary'"
            (click)="onSetLang('en')">
            EN
          </button>
        </div>
      </li>
    </ul>
  </div>
</header>