<header class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg sticky-top">
  <a class="navbar-brand" routerLink="/">FM Jリーグパック</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="fmjleagueNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="isCollapsed" id="fmjleagueNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="currentVersionData">
        <a class="nav-link" (click)="onResetCollapse()" routerLink="/">ホーム</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="currentVersionData">
        <a class="nav-link" (click)="onResetCollapse()" routerLink="/guide">初心者ガイド</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="currentVersionData">
        <a class="nav-link" (click)="onResetCollapse()" routerLink="/history">リリースノート</a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarPlayerDropdown" role="button">
          選手・スタッフ関連の情報
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarPlayerDropdown" class="dropdown-menu">
          <button ngbDropdownItem routerLinkActive="active" routerLink="/playerUpdate" (click)="onResetCollapse()">
            選手更新履歴
          </button>
          <hr />
          <button ngbDropdownItem routerLinkActive="active" routerLink="/database" (click)="onResetCollapse()">
            選手データベース（実験中）
          </button>
          <button ngbDropdownItem routerLinkActive="active" routerLink="/calcCa" (click)="onResetCollapse()">
            選手のCA計算（実験中）
          </button>
        </div>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarToolDropdown" role="button">
          ツール
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarPlayerDropdown" class="dropdown-menu">
          <button ngbDropdownItem (click)="onJpNameRemoverTool()">
            日本語表記削除
          </button>
          <hr />
          <button ngbDropdownItem (click)="onFacepackTool()">
            フェイスパック変換
          </button>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="isAdmin" class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="onResetCollapse()" routerLink="/admin">管理ページ</a>
      </li>
      <li *ngIf="user !== null" class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="#" (click)="onLogout()">ログアウト</a>
        </li>
      <li class="nav-item" *ngIf="currentVersionData && currentVersionData.fmBlogUrl">
        <a class="nav-link" (click)="onResetCollapse()" href="#" (click)="onGotoBlog()">ブログバージョン（旧）</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/discuss" (click)="onResetCollapse()">掲示板</a>
      </li>
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="fmVersionDropdown" role="button">
          {{ fmVersion }}
        </a>
        <div ngbDropdownMenu aria-labelledby="fmVersionDropdown" class="dropdown-menu dropdown-menu-right">
          <button ngbDropdownItem
            [class]="fmVersionListValue === fmVersion ? 'dropdown-item active' : 'dropdown-item'"
            *ngFor="let fmVersionListValue of fmVersionList"
            (click)="onSetFMVersion(fmVersionListValue)">
            {{ fmVersionListValue }}
          </button>
        </div>
      </li>
    </ul>
  </div>
</header>