.j-league-pack-toast {
  z-index: 1000;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateY(-50%);
}

.j-league-pack-toast.success {
  background-color: rgba(230, 245, 233, 0.85);
  border-color: rgba(195, 230, 203, 0.85);
  color: #155724;
}

.j-league-pack-toast.danger {
  background-color: rgba(252, 237, 238, 0.85);
  border-color: rgba(245, 198, 203, 0.85);
  color: #721c24;
}
